@import url('https://fonts.googleapis.com/css?family=Pangolin&subset=cyrillic');

:active, :focus{
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  color: #333333;
  font: 14px 'Pangolin';
  background: url("../img/bg.jpg") top center no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.fish {
  width: 20%;
  height: 20%;
  position: absolute;
  left: 0;
  top: 30%;
  cursor: pointer;
}

.fish1 {
  background: url("../img/fishes/fish-7.svg") center no-repeat;
}

.fish2 {
  background: url("../img/fishes/crab.svg") center no-repeat;
}

.fish3 {
  background: url("../img/fishes/fish-3.svg") center no-repeat;
}

.fish4 {
  background: url("../img/fishes/fish-1.svg") center no-repeat;
}

.fish5 {
  background: url("../img/fishes/fish-9.svg") center no-repeat;
}

.fish6 {
  background: url("../img/fishes/shark.svg") center no-repeat;
}

.fish7 {
  background: url("../img/fishes/fish-12.svg") center no-repeat;
}
.game .username{
  float: left;
  margin-left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  font-weight: bold;
  vertical-align: middle;
  font-size: 72px;
}
.scores {
  float: right;
  margin-right: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;

  img {
    width: 40px;
    height: auto;
    vertical-align: middle;
    opacity: .4;
    margin-right: 15px;
  }
  span {
    font-weight: bold;
    vertical-align: middle;
    font-size: 72px;
  }
}

#scores_value {
  margin-right: 15px;
}

.timeDown {
  animation: timeDown .5s ease-in-out infinite backwards;
}

.toggleClicker {
  cursor: pointer;
}

@keyframes timeDown {
  0% {
    font-size: 72px;
  }
  50% {
    font-size: 100px;
  }
  100% {
    font-size: 72px;
  }
}

.end, .start {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.end {
  display: none;

  .end_results{
    box-sizing: border-box;
    padding: 30px 0;
    border-radius: 5px;
    margin:10px 20%;
    background: rgba(#fff, .3);
    text-align: center;
    white-space: nowrap;

    .end_result{
      display: inline-block;
      vertical-align: top;
      font-size: 48px;
      text-align: center;
      width: 50%;
      &:first-child{
        border-right: 1px solid rgba(#333, .5);
      }
      img{
        width: 48px;
        height: auto;
        vertical-align: middle;
      }
    }


  }
}

.end_header {
  font-size: 72px;
}

.start_form {
  align-self: center;

  .logo {
    margin-bottom: 36px;


    img {
      width: 100%;
      height: auto;
      max-width: 300px;
      user-select: none;
      user-drag: none;
      -webkit-user-drag: none;
    }
  }
  input[type=text] {
    width: 300px;
    height: 45px;
    text-align: center;
    border: 3px solid #333333;
    background: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    box-sizing: border-box;
    margin-top: 18px;
    transition: all .2s ease-in-out;

    &:focus {
      border-color: darken(#333, 30%);
    }
  }
  input[type=submit]{
    @extend %button;
  }
}
%button {
  width: 300px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.40);
  border: 3px solid #333333;
  height: 45px;
  margin-top: 18px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .09em;
  font-weight: bold;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  position: relative;

  &:hover {
    box-shadow: 0 4px 11px #009bab;
    transform: translateY(-2px);
    background: #333333;
    border-color: #333333;
    color: #fff;
  }
  &:active {

  }
}

.btn{
  @extend %button;
}