@import url('https://fonts.googleapis.com/css?family=Pangolin&subset=cyrillic');

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    color: #333333;
    font: 14px 'Pangolin';
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    background: #eeeeee;
    position: relative;
    background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
}

.fish {
    width: 20%;
    height: 20%;
    position: absolute;
    left: 0;
    top: 30%;
    cursor: pointer;
}

.fish1 {
    background: url("../img/fishes/fish-7.svg") center no-repeat;
}

.fish2 {
    background: url("../img/fishes/crab.svg") center no-repeat;
}

.fish3 {
    background: url("../img/fishes/fish-3.svg") center no-repeat;
}

.fish4 {
    background: url("../img/fishes/fish-1.svg") center no-repeat;
}

.fish5 {
    background: url("../img/fishes/fish-9.svg") center no-repeat;
}

.fish6 {
    background: url("../img/fishes/shark.svg") center no-repeat;
}

.fish7 {
    background: url("../img/fishes/fish-12.svg") center no-repeat;
}

.scores {
    float: right;
    margin-right: 1%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right;
}

.scores img {
    width: 40px;
    height: auto;
    vertical-align: middle;
    opacity: .4;
    margin-right: 15px;
}

.scores span {
    font-weight: bold;
    vertical-align: middle;
    font-size: 72px;
}

#scores_value {
    margin-right: 15px;
}

.timeDown {
    animation: timeDown .5s ease-in-out infinite backwards;
}

.toggleClicker {
    cursor: pointer;
}

@keyframes timeDown {
    0% {
        font-size: 72px;
    }
    50% {
        font-size: 100px;
    }
    100% {
        font-size: 72px;
    }
}